*{
    padding: 0px;
    margin: 0px;
}
#Header{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px black;
}
#headervid{
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 0;
}
#headerHeading{
    position: absolute;
    z-index: 1;
    font-size: 90px;
    letter-spacing: 25px;
    color: white;
    text-shadow: 0px 0px 10px black;
}
#iconsofsocial
{
    width: 250px;
    height: 50px;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 10px black;
    right: 20px;
    bottom: 10px;
}
i{
    padding-left: 20px;
    color: white;
}
i:hover{
    color: rgb(184, 248, 248)
}
#webbody
{
    height: 500px;
    width: 100%;
    background-image: linear-gradient(pink,purple,black);
}
#address
{
    position: absolute;
    top: 90%;
    left: 5%;
    width: 44%;
    height: 300px;
    float: left;
    background-color: rgb(190, 236, 221);
    box-shadow: 0px 0px 10px black;
    border-radius:10px ;
}
#maps
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90%;
    right: 5%;
    width: 44%;
    height: 300px;
    background-color: rgb(190, 236, 221);
    box-shadow: 0px 0px 10px black;
    border-radius:10px ;
    overflow:hidden
}
iframe
{
    width: 100%;
    height: 310px;
}
iframe:hover
{
    width: 120%;
    height: 330px;
}
#addheading{
    padding-top: 20px;
    text-align: center;
    color: purple;
}
#addpara
{
    width: 90%;
    font-size: 24px;
    padding-top: 50px;
    padding-left: 20px;
    text-align: center;
}
#footer
{
    width: 100%;
    height: 120px;
    background-color: rgb(2, 42, 2);
}
#iconsofsocialfooter
{
    width: 250px;
    height: 50px;
    position: relative;
    z-index: 1;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 10px black;
    float: right;
    top: 32px;
}
#cpymessage
{
    float: left;
    color: white;
    padding-top: 40px;
    font-size: 24px;
}